.container {
    cursor: pointer;
    padding: 10px 20px;
    border-width: 5px;
    border-style: solid;
    background-color: var(--bg-color-2);
    border-color: var(--fg-color-1);
    color: var(--fg-color-1);
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    user-select: none;
}

.container.shadow {
    box-shadow: 5px 5px var(--fg-color-1);
    transform: translate(0, 0);
}

.container:hover {
    background-color: var(--bg-color-1) !important;
}

.container.shadow:hover {
    box-shadow: 10px 10px var(--fg-color-1) !important;
    transform: translate(-5px, -5px);
}
